.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding: 0 40px;
  height: 820px;

  .input {
    margin-bottom: 30px;

    &__payment {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;

      mat-form-field {
        flex: 1 0 150px;
        padding: 0 15px 15px 15px;
      }
    }

    &__prepayment {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;

      mat-form-field {
        flex: 0 0 200px;
        padding: 0 30px 0 15px;
      }
    }
  }

  .button {
    float: right;
  }
}
